/* AJAX drop down list */
.ajaxDDlist {
    display: none;
    position: absolute;
    border: 1px solid #727272;
    border-top: 0;
    margin: 0;
    padding: 0;
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FFFFFF;
    list-style-type: none;
    list-style-position: outside;
}

.ajaxDDlist > li {
    margin: 0;
    padding: 0;
}

.ajaxDDlist > li > .DDlink,.DDlink:hover {
    display: block;
    padding: 2px;
    text-decoration: none;
}

.ajaxDDlist > li > .DDlink:hover {
    background-color: #CCCCCC;
}

.ajaxInputField {
    width: 190px;
}

/* HTML Pop Up Div */
#htmlPop {
    width: 600px;
    background: #000;
    padding: 10px;
    position: fixed;
    border-radius: 5px;
}

#htmlPopTitle {
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
}

#htmlPopFrame {
    width: 100%;
}

/* Calendar */
#calendarPop {
    box-shadow: 0 0 30px #eee;
    background-color: #fff;
    padding: 0;
    color: #000;
    border: none;
    overflow: hidden;
}

#calendarPop .calendarTitle {
    padding: 10px;
}

#calendarPop .calendarClose {
    right: 10px;
    top: 10px;
    position: absolute;
}
#calendarPop .calendarClose a {
    font-weight: bold;
}

#calendarPop .calendarClose a:hover {
    color: #ff0000;
}

#calendarPop,
#calendarContainer {
    border-radius: 5px;
}

#calendarPop {
    width: 100%;
    clear: both;
    font-size: 90%;
}

#calendarPop th {
    background: #fafafa;
    padding: 10px;
    border: none;
}

#calendarPop td {
    text-align: center;
    height: 5px;
    position: relative;
    border: none;
}

#calendarPop td a {
    color: #555555;
    display: block;
}

#calendarPop td a:hover {
    background: #000;
    color: #fff;
    font-weight: 700;
}

#calendarPop td.selected a {
    background-color: #000;
    color: #fff;
}

.monthyearselect {
    background: #FFFFFF;
}

#clockContainer {
    display: none;
}

form.clock {
    text-align: center;
}

/* Member Login/Area related style */
#memberLogin {
    padding: 5px;
    background: #CCCCCC;
    border: 1px solid #666;
}

#memberLogin legend {
    font-size: 17px;
    font-weight: bold;
}

#memberLogin .fieldLabel {
    font-weight: bold;
}

#memberLogin input[type=text] {
    width: 90%;
}

#memberLogin input[type=password] {
    width: 90%;
}

#memberLogin .loginInfo {
    font-style: italic;
}

#memberLoginInfo {
    text-align: right;
    margin: 3px;
    padding: 3px;
    border-bottom: 1px solid #999;
}

#memberLogout {
    color: #FF0000;
    font-weight: bold;
}

.errorBox {
    margin: 3px;
    padding: 3px;
    color: #f00;
    border: 1px solid #f00;
}

.memberLoanList, .memberDetail, .memberBasketList {
    width: 99%;
    margin: 3px;
    border: 1px solid #999;
}

.memberLoanListInfo, .memberDetailInfo, .memberBasketInfo {
    border: 0;
    padding: 3px;
}

.dataListHeader {
    background: #fc0;
}

.alterCell, .alterCell2 {
    background-color: #ccc;
    border-bottom: 1px solid #ccc;
}

.alterCell2 {
    background-color: #fff;
}

.biblioMarkForm .biblioMarkFormAction {
    margin-left: 10px;
}

.biblioMarkForm .biblioMarkFormAction input.button {
    display: block;
    height: 25px;
    padding-right: 25px;
    cursor: pointer;
    background: #003380 url(../images/default/basket.png) center right no-repeat;
    font-weight: bold;
    color: #fff;
    border: none;
    -moz-border-radius: 5px;
    -opera-border-radius: 5px;
}

/* Visitor counter */
#visitorCounterWrap {
    margin: 0 auto;
    width: 500px;
    background: #fff;
    border: 1px solid #999;
    padding: 5px;
}

#visitorCounterWrap #counterInfo {
    display: none;
    padding: 3px;
    border: 1px dotted #f00;
    font-weight: bold;
    font-size: 110%;
}

#visitorCounterWrap .info {
    font-weight: bold;
    border-bottom: 1px solid #999;
}

#visitorCounterWrap legend {
    font-weight: bold;
    font-size: 120%;
}

#visitorCounterWrap input[type=text] {
    width: 100%;
}

#visitorCounterForm {
    width: 100%;
}

#visitorCounterPhoto {
    margin-top: 5px;
    width: 100px;
}

.s-member-account td::before {
    display: none;
}

.rounded-none {
    border-radius: 0;
}

[name="keywords"],[name="quickReturnID"]{
    margin-left: 8px;
}

.debug {
    summary {
        padding: 4px 8px;
        background-color: rgb(148 163 184);
    }
    section, iframe {
        background-color: rgb(203 213 225);
        min-height: 1px;
    }

    &.debug-empty {
        section {
            position: relative;
            &::after {
                position: absolute;
                bottom: 0;
                left: 8px;
                content: "ᓚᘏᗢ";
                z-index: 0;
                color: rgb(71 85 105);
                animation: walk 8s ease-in-out infinite;
            }
        }
    }
}

.ping {
    position: relative;
    &::after,
    &::before {
        --ping-size: 12px;
        content: "";
        position: absolute;
        top: calc(50% - (var(--ping-size) / 2));
        right: -16px;
        width: var(--ping-size);
        height: var(--ping-size);
        background-color: rgb(220 38 38);
        border-radius: 50%;
        opacity: 0.75;
    }

    &::after {
        z-index: 2;
    }

    &::before {
        z-index: 1;
        animation: ping 1.2s ease-in-out infinite;
    }
}

@keyframes ping {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes walk {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(5px) rotateZ(-5deg);
    }

    /* Slow movement with slight tilt */
    50% {
        transform: translateX(0px);
    }

    /* Pause in the middle */
    75% {
        transform: translateX(80px);
    }

    80% {
        transform: translateX(100px) scaleX(-1);
    }

    /* Faster movement with tilt */
    100% {
        transform: translateX(0px) scaleX(-1);
    }

    /* Reset position and rotation */
}