/* Scroll
 ========================================== */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  width: 8px;
  height: 4px;
}

/* Placeholder / Help text inside input
 ========================================== */
::-webkit-input-placeholder {
  color: #333;
  transition: opacity 2s 2s ease;
  -webkit-transition: opacity 2s 2s ease;
  opacity: 1;
}

:-moz-placeholder {
  color: #333;
  transition: opacity 2s 2s ease;
  -webkit-transition: opacity 2s 2s ease;
  opacity: 1;
}

::-moz-placeholder {
  color: #333;
  transition: opacity 2s 2s ease;
  -webkit-transition: opacity 2s 2s ease;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #333;
  transition: opacity 2s 2s ease;
  -webkit-transition: opacity 2s 2s ease;
  opacity: 1;
}

/* General
 ========================================== */
html, body {
  margin: 0px;
  overflow: auto;
}

body {
    background: #f1f1f1 url(img/logo-big.png) -150px 35px no-repeat;
  overflow: hidden;
  height: 100%;
  direction: ltr;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  -webkit-text-size-adjust: none;
  font-size: 16px;
}

a, a:hover {
  text-decoration: none !important;
}

.btn-default {
  background-color: #282828;
}


.s-search-advances {
  color: #fff;

  &:hover {
    color: #ff0;
  }

  &:focus {
    color: #fff;
  }

    @media only screen {
        @media (min-width: 768px) {
          .s-main-page & {
            font-size: 12px;
            position: absolute;
            top: 70px;
            right: 190px;        
        }
    }
  }


}

