#main, #sidebar-left, #sidebar-right {
  display: inline; /* display inline or double your floated margin! [1] */
  overflow: hidden; /* in ie6, overflow auto is broken [2] and so is overflow visible [3] */
  overflow-y: visible;
}

hr {
  margin: 0 0 1.2em 0;
}
