table {
	width: 100%;
	th {
		position: relative;
		vertical-align: bottom;
		text-overflow: ellipsis;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0px;
		height: 48px;
		font-size: 12px;
		color: rgba(0, 0, 0, 0.54);
		padding-bottom: 8px;
		box-sizing: border-box;
	}

	td {
		position: relative;
		vertical-align: top;
		height: 48px;
		border-top: 1px solid rgba(0, 0, 0, 0.12);
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		padding: 12px 18px 0px;
		box-sizing: border-box;
	}
}

.slims-card {
	table {
		width: calc(100% + 32px);
		margin-left: -16px;
		margin-right: -16px;
	}
}