.comment-found {
	padding: 16px;
	margin-left: -16px;
	margin-right: -16px;
	margin-bottom: 8px;
	background-color: #eee;
	&:last-of-type {
		background-color: #fff;
		padding: 0;
		margin: 0;
	}
}

.comments {
	.comment-member {
		color: #03a9f4;
	}
	.comment-content {
		padding-bottom: 8px;
		font-size: 12px;
	}
}