#slims-page {
	#cboxOverlay {
	background-image: none;
	background-color: rgba(#000, 0.3);
	}

	#colorbox {
		#cboxWrapper {

			#cboxTopLeft,
			#cboxTopCenter,
			#cboxTopRight,
			#cboxMiddleLeft,
			#cboxMiddleRight,
			#cboxBottomLeft,
			#cboxBottomCenter,
			#cboxBottomRight {
				background-image: none;
			}

			#cboxContent {
				overflow: hidden;
				@include border-radius(2px);
				padding: 16px;
				@include box-shadow(0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12));

				#cboxTitle {
					padding: 16px;
					bottom: -4px;
					font-size: 14px;
					background-color: #fff;
				}
			}
		}
	}
}
